* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', serif;
  font-weight: 400;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
 }

.weather-icon {
  height: 50px;
  width: 50px;
}

.holder1 {
  margin: 30px 0;
}
#root {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;


  .ui.grid .maincontainer {
    border-radius: 10px;
    padding: 30px 10px;
    // background-image: url("./images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(255, 254, 254, 0.3);
    img {
      width: 50px;
      height: 50px;
    }
  }
  
  .searchholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .mysearch {
      position: relative;
      display: flex;
      align-items: center;

    }
    i.icon {
      font-size: 2rem;
      
      &.list {
        font-size: 1.5rem;
        display: none;
      }
      &.search {

        margin: 0;
        background-color: white;
        opacity: 1;
      }

      &.map.marker {
        margin: 0.25rem .25rem 0 0;
        padding-right: 25px;
      }
    }

    & > .ui.search {
    }

    .search.icon {
      font-size: 1rem;
      &:before {
        content: "\f078";
      }
    }

    .ui.input>input {
      border: none;
      padding: 0.5rem;
      font-size: 1.5rem;
      font-weight: bolder;
      padding-right: 0!important;
      border-radius: .28571429rem;

    }
  }

  .single-day {
    flex-direction: column!important;

    .weather-description {
      margin-top: 10px;
    }

    .date {
      margin: 15px 0;
    }
    .minmax-holder {
      height: 101px;
      animation: appear-holder .3s linear;
      transition: all .5s linear;
      & > .column {
        text-align: center;
         .wrapper {
          box-shadow: 1px 2px 6px rgba(0, 0, 0, .2);
          border-radius: 8px;
          background-color: rgba(255,255,255,0.2);
        }
      }
    }

    .min-temp, .max-temp {
      
      & > * {
        animation: showNow .5s linear;

      }

    }

    .info-icons {
      & > div {
        animation: slideleft .3s ease-in;
      }

      .column .wrapper {
        box-shadow: 1px 2px 6px rgba(0, 0, 0, .2);
        border-radius: 8px;
        background-color: rgba(255,255,255,0.2);
      }
    }
  }


  .days-slider {
    margin: 20px 0;
    font-weight: 600;
    .slick-slide {
      
      padding: 2px 0px;
      text-align: center;
      transition: all .3s ease;
      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
      }

      & > div {
        background-color: rgba(255,255,255,0.1);
        box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 2px 0 2px 0;
        margin: 0 8px;
      }

      &[data-currentday=currentday] {
        transform: translateY(-2px);
        color: black;
        & > div {
          background-color:rgba(129, 116, 116, .3);
          border-radius: 10px;
          color: black;
          padding: 2px 0 2px 0;
          margin: 0 8px;
        }
      }
      &:not([data-currentday=currentday]) {
        color: rgb(34, 31, 31);
        
      }

      & > div {
        & > div {
          &:focus {
            outline: none;
          }
        }
      }
    
    }

    .slick-dots {
      bottom: -20px;
    }

    .slick-list {
      padding: 10px 0px; 
    }

    .slick-arrow {
      &:before {
        color: rgba(0,0,255, 0.4);
      }

      &.slick-prev {
        left: -15px;
      }
      &.slick-next {
        right: -15px;
      }
    }

    .movedown {
      animation: clicked .3s ease-in;
    }
  }





  @keyframes slideup {
    0% {
      transform: translateY(100px);
      opacity: 0.3;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;

    }
  }


  @keyframes clicked {
    0% {
      transform: translateY(-5px);
      opacity: 0.3;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;

    }
  }

  @keyframes slideleft {
    0% {
      transform: translateX(50px);
      opacity: 0.3;
    }
    
    70% {
      transform: translateX(0px);
    }
    100% {
      opacity: 1;

    }
  }

  @keyframes appear {
    0% {
      opacity: 0;
      height: 10%;
    }

    100% {
      opacity: 1;
      height: 100%;
    }
  }

  @keyframes appear-holder {
    0% {
      opacity: 0;
      height: 10px;
    }

    100% {
      opacity: 1;
      height: 101px;
    }
  }


  @keyframes comein {

    from{
      transform: translateY(30%);
      /* transform: translateX(10%); */
      opacity:0;
    }
  
    to{
      transform: translateY(0%);
      /* transform: translateX(0%); */
  
      opacity:1;
    }
  }

  @keyframes showNow {

    from{

      opacity:0;
    }
  
    to{
    
      opacity:1;
    }
  }


  .temp-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;

    .temp-symbol {
      font-weight: bold;
    }
  }

  .hours-weather-slider {

    .temp-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
  
      .temp-symbol {
        font-weight: bold;
      }
    }
    .slick-slide {
      padding: 20px 0;
      & > div {
        margin: 0 5px;
      }
    }
    .slide-container {
      transition: all .3s ease;
      &:focus {
        outline: none;
      }
      &:hover {
        transform: translateY(-3px);
      }
    }
    .hours-card {
      display: flex!important;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      text-align: center;
      box-shadow: 0px 2px 5px rgba(0,0,0, 0.2);
      border-radius: 10px;
      transition: all 0.3s ease-in;
      padding: 10px;
      min-height: 145px;
      opacity: 0;
      &:focus {
        outline: none;
      }

      .weather {
        img {
          width: 100%;
        }
      }
    }

    .slick-dots {
      bottom: -10px;
    }
    .slideupin {
      animation: comein 1s ease forwards .25s;
      animation-fill-mode: forwards;
    }


    .slick-slide:nth-of-type(2n) .hours-card {
      background-color: rgb(171,226,255);
    }
    .slick-slide:nth-of-type(2n+1) .hours-card {
      background-color: rgb(179,170,253);
    }
    .slick-slide:nth-of-type(1) .hours-card {
      background-color: rgb(171,226,255);
    }
    .slick-slide:nth-of-type(2) .hours-card {
      background-color: rgb(255,181,182);
    }
    .slick-slide:nth-of-type(4) .hours-card {
      background-color: rgb(255,181,182);
    }
    .slick-slide:nth-of-type(7) .hours-card {
      background-color: rgb(255,181,182);
    }
    .slick-slide:nth-of-type(3) .hours-card {
      background-color: rgb(179,170,253);
    }
    
  }

  .placeholder.segment {
    min-height: 100px;
    .header {
      margin: 0;
    }
  }
  .results {
    position: absolute;
    top: 80%;
    left: 97px;

    transform-origin: center top;
    white-space: normal;
    text-align: left;
    text-transform: none;
    background: #fff;
    margin-top: .5em;
    width: 18em;
    border-radius: .28571429rem;
    border: 1px solid #d4d4d5;
    z-index: 998; 
    .result {
      cursor: pointer;
      display: block;
      overflow: hidden;
      font-size: 1em;
      padding: .85714286em 1.14285714em;
      color: rgba(0,0,0,.87);
      line-height: 1.33;
      border-bottom: 1px solid rgba(34,36,38,.1);
    }
  }

}
